{{#if addReview}}
  <h1>New Review</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="venue">Venue</label>
        {{input value=venue id="venue"}}
      </div>

      <div class="form-group">
        <label for="article">Article</label>
        {{textarea value=article id="article"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        <p id="image">{{input value=image id="image"}}</p>
      </div>

      <button {{action 'saveReview'}}>Save</button>
    </form>
  </div>
  {{else}}
  <button {{action 'reviewFormShow'}}>New Review</button>
  {{/if}}
