<h1>Authorized personnel only!</h1>

<ul>
  {{#each model as |review|}}
  <li>
    {{review-tile review=review destroyReview="destroyReview"}}
    <button {{action 'delete' review}}>Delete</button>
      {{update-review review=review update="update"}}
      <!-- {{#if updateReviewForm}} -->
    <!-- {{else}}
      <button {{action 'updateReviewForm'}}>Update</button>
    {{/if}} -->
  </li>
  {{/each}}
</ul>

{{new-review saveReview="saveReview"}}
{{#link-to 'index'}}Home{{/link-to}}
