<li>
  {{model.reviews.venue}} <br>
  {{model.reviews.title}} <br>
  <img src="{{model.reviews.image}}"> <br>
   By {{model.reviews.author}}
   {{model.reviews.article}}
</li>

<h2> All Posts </h2>

<ul>
  {{#each model.posts as |post|}}
    <li>{{post.rating}} - {{post.content}} - by {{post.writer}}</li>
  {{/each}}
</ul>

{{new-post savePost="savePost"}}
